<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/projectapp/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/projectapp/css/styles.css" rel="stylesheet" />
    <style>
        table {
          width: 100%;
          border: 1px solid #444444;
          border-collapse: collapse;
        }
        th, td {
          border: 1px solid #444444;
        }
    </style>

    <script type="text/javascript">
        function goback(){
            history.go(-1);
        }

        function goUpload(){
            fm = document.getElementById("fm");
            fm.action ='/project/board/';
            fm.submit();
        }
      </script>
</head>
<body>
    <!-- Responsive navbar-->
    {% include "projectapp/include/navbar.html" %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">게시글 작성하기</h1>
            </div>
        </div>
    </br>
    </header>


<form method="post" action="/project/post/">
    {% csrf_token %}
    <div class="container">        
      <table class="table table-hover">
        <tbody>
            <tr>
              <td><input type="text" class="form-control" placeholder="글 제목" id="title" name="title" maxlength="40"></td>
            </tr>

            <tr>
              <td><textarea type="text" class="form-control" placeholder="글 내용을 작성하세요" id="content" name="content" maxlength="1024" style="height: 400px;"></textarea></td>
            </tr>

            <tr>
                <td>
                    <p>
                    첨부파일 : 
                    <input type="file" name="file_nm" id="file_nm">
                    </p>
                </td>
            </tr>
        </tbody>  
      </table>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
        <input type="submit" class="btn btn-light btn-outline-dark btn-primary pull-right" value="업로드하기">
        <input type="submit" class="btn btn-light btn-outline-dark btn-primary pull-right" value="취소하기">
        </div>
        </div>
    </div>
    <br/>
</form>
</body>
</html>