<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>아이디 중복 체크</title>
  </head>
  <body onload="idCheck({{id_list}});">
    <br/>
    <span id="SpanID">아이디를 입력하세요.</span>
    <button onclick="javascript:self.close();" style="float: right; width:70px;">확인</button>
    
  
    <script>
      function idCheck(list){
        var value = window.opener.document.getElementById( "id" ).value;
        var text = '';
        var id_check='';

        if(!value){}
        else{
        for(i=0;i<list.length;i++){
          if(value == list[i]['user_id']){
            text='중복된 아이디가 존재합니다.';
            id_check='idUnCheck';
            break;
          }else{
            text='사용 가능한 아이디입니다.';
            id_check='idCheck';
          }
        }
      
        document.getElementById("SpanID").textContent=text;
        window.opener.document.getElementById("idDuplication").value = id_check;
      }
      }
    
  

    </script>
  </body>
</html>